body{
    overflow-x: hidden;
    padding: 0%;
    margin: 0%;
}
.main_slider{
    display: flex;
}
.slider{
    content: url(../images/slider1.png);
    width: 60%;
    height: 280px;
    overflow-x: hidden;
    animation: slide 24s infinite;
    cursor: pointer;
}
@keyframes slide{
    20%{
        content: url(../images/slider2.jpg);
    }
    40%{
        content: url(../images/slider3.png);
    }
    60%{
        content: url(../images/slider4.png);
    }
    80%{
        content: url(../images/slider5.jpg);
    }
    100%{
        content: url(../images/slider1.png);
    }
}
.fixed_img{
    width: 40%;
    height: 280px;
    cursor: pointer;
}
#below_slider_p{
    text-align: center;
    font-size: 30px;
    color: dimgray;
}
@media only screen and (min-width:375px) and (max-width:1000px){
    .main_slider{
        display: block;
    }
    .slider{
        width: 100%;
    }
    .fixed_img{
        width: 100%;
    }
    #below_slider_p{
        font-size: 20px;
    }
}