/* *{
    background-color: rgb(246,246,246);
} */
#ayurveda{
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
    justify-content: space-around;
    background-color: rgb(246, 246, 246);
    
    }#middle_part{
        /* display: flex; */
        padding-left: 20px;
        flex: 2;
        background-color: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }#left_part{
        flex: 1;
    }#right_part{
        flex: 1;
    }#middle_part div img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }#img_div{
        height: 300px;display: grid;grid-template-rows: repeat(2);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 10px;
        width: 60%;
    }#right_part div{
        width: 70%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        height: 250px;
        /* border: 1px solid black; */
        display: grid;
        justify-content: center;
        grid-template-rows: repeat(2);
        background-color: white;
    }#right_part div button{
        border: 1px solid orangered;
        border-radius: 5px;
        margin-bottom: 15px;
        background-color: white;
    }#right_part div img{
        margin-top: 50px;
        margin-left: 20px;
    }#second_div{
        background-color: white;
        
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }#left_part{
        background-color: white;
        /* display: grid; */
        /* grid-template-rows: repeat(2); */
        margin-left: 20px;
        row-gap: 2px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }#second_div div{
        background-color: white;
    }#second_div div div{
        background-color: white;
    }#left_part div:nth-child(1){
        margin-left: 20px;
    }#left_part h1{
        background-color: white;
    }
    #professor{
        display: flex;
        background-color: white;
    
    }#professor div p{
        background-color: white;
    }#professor img{
        height: 50px;
        border-radius: 50px; 
        width: 50px;
        object-fit: cover;
        margin-top: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }
    #professor div span{
        color: orangered;
        background-color: white;
        margin-top: 0%;
    }#faq div{
        display: flex;
    }#faq div #left{
    display: grid;
    grid-template-rows: repeat(3);
    background-color: white;
    
    }#faq div #right{
        display: grid;
        grid-template-rows: repeat(3);
        background-color: white;
       
    }#faq div #left p{
        background-color: white;
    }#faq div #right p{ 
        background-color: white;
    }#symbol {
        background-color: white;
        display: flex;
        margin-top: 10px;border-bottom: 1px solid grey;
    }
    #symbol img{
        width: 80px;
        background-color: white;
    }#symbol div p:nth-child(2){
    color: orangered;
    font-size: 15px;
    background-color: white;
    
    }#symbol div p{
        background-color: white;
    }#lastup{
        margin-left: 10px;
        margin-top: 20px;
        background-color: white;
        /* border-bottom: 1px solid grey; */
    }#left{
        color: orangered;
        padding-right: 5px;
    }#right{
        color: orangered;
        padding-right: 5px;
    }
    #middle_part{
        font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    }
    #paragraph_des{
        margin-top: 300px;
    }